@import '../scss/variable';

.addButton{
  border-radius: 0;
  padding: 1.2rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;


  .addIcon{
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .dividor {
    height: 0.5px;
    width: 100%;
    background-color: black;
  }
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  margin: 1rem 1rem 2.5rem;
  
  .modalTitle {
    border-top: 1px solid black;
  }

  .inputElement {
    min-width: 20rem;
    border-radius: 0;
    border: 2px solid #807f7f;
    position: relative;

    &::placeholder {
      color: #807f7f;
    }
  }

  .inputButton {
    border-radius: 0;
    width: 0;
    padding: 1rem 2.5rem;
    font-weight: 500;
    background-color: var(--color-secondary);
    color: #fff;
  }
}

.inputWrapper{
  position: relative;
}

.errorWrapper{
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
}