@import '../utils/constants/variable';
@import '../utils/constants/mixins';

.cardStyle {
  height: 20rem;
  background-color: #00000040;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &Para{
    font-size: $font-size-primary-large;
    text-align: center;
  }
}
