@import '../scss/variable';

.leftLayout {
  display: flex;
  flex-direction: column;
  width: 18%;
  border-right: 1px solid black;
}

.header{
  font-size: 2rem;
  height: 8vh;
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 500;
}

.customDividerStyle{
  border-color: black !important;
  margin: 0 !important;
};
