/* You can add global styles to this file, and also import other style files */

@import '../src/scss/variable';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /** 
  * Note
  * Defined value of 1rem for responsive design
  * 10/16 = 0.625 => 62.5%
  * 1rem = 10px
  **/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-base);
}
