/* You can add global styles to this file, and also import other style files */

@import '../src/scss/variable';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

.ant-tabs-tab{
  border-radius: 0 !important ;
  margin-left: 0;
  font-weight: 500;
  border-top : 1px solid black !important;
  border-left:1px solid black !important;
  border-right:1px solid black !important;
  
  &.ant-tabs-tab{
    margin-left: 0 !important;
  }
}

.ant-tabs-tab-active{
  background-color: var(--color-secondary) !important;
  border-bottom: 0 !important;

  .ant-tabs-tab-btn{
    color: #ffffff !important;
  }
}

.ant-menu-vertical{
  border-inline-end: 0 !important;
}

.ant-dropdown-menu-vertical{
  border-radius: 0 !important;
}

.ant-tabs-nav-wrap{
  border-bottom: 1px solid black !important;
}

.ant-modal-content{
  display: flex;
  flex-direction: column;
  border-radius: 0 !important;
  padding: 0 !important;
}

.ant-modal-title{
  margin-left: 1rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.3rem !important;
  color: #000 !important;
  font-weight: 500 !important;
}

.ant-modal-close{
  top: 5px !important;
  color: #000 !important;
}

.ant-select-selector{
  border-radius: 0 !important;
  border: 2px solid #807f7f !important;
}

.ant-table-tbody{
   tr{
    td {
      border-left: 1px solid black !important;
      border-bottom: 1px solid black !important;
      border-top: 0;

      &:last-child {
        border-right: 1px solid black !important; 
      }
    }
   }
}

.ant-table-thead {
  tr {
    th {
      border: 1px solid black !important;
      border-right: 0px !important; 
      
      &:last-child {
        border-right: 1px solid black !important; 
      }
    }
  }
}

.ant-table-cell{
  border : 0 !important ;
}