@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  /** Font related sizes */
  --font-size-primary-large: 6rem;
  --font-size-primary : 5rem;
  --font-size-secondary-large : 3.5rem;
  --font-size-secondary : 3rem;
  --font-family-base: 'Roboto', sans-serif;
  
  /** color related sizes */
  --color-primary : #dfdfdf;
}

